@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@100;300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  --primary-color: rgb(13, 108, 60);
  --secondary-color: rgb(136, 197, 31);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(230, 252, 230);
  background: url("/src/assets/images/cool-background\(1\).png");
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2759%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsRadialGradient2760%26quot%3b)'%3e%3c/rect%3e%3cpath d='M448 515.79L479.16 515.79L479.16 546.95L448 546.95z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M950.73 186.35L953.05 186.35L953.05 225.62L950.73 225.62z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M297.47 294.34L307.34 294.34L307.34 304.21L297.47 304.21z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M135.11 312.79L142.19 312.79L142.19 312.84L135.11 312.84z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M371.75 180.09 a2.24 2.24 0 1 0 4.48 0 a2.24 2.24 0 1 0 -4.48 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M118.38 498.24 a12.56 12.56 0 1 0 25.12 0 a12.56 12.56 0 1 0 -25.12 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M117.22 476.3L131.7 476.3L131.7 490.78L117.22 490.78z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M245.92 308.25L250.12 308.25L250.12 338.04L245.92 338.04z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M337.69 360.46L341.98 360.46L341.98 362.39L337.69 362.39z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M591.26 333.76L607.48 333.76L607.48 349.98L591.26 349.98z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M679.19 284.2a1.96 1.96 0 1 0 2.1 3.31z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M429.31 449.95L481.69 449.95L481.69 502.33L429.31 502.33z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M23.85 344.47L77.07 344.47L77.07 397.69L23.85 397.69z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1406.47 97.09L1431.75 97.09L1431.75 148.32L1406.47 148.32z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1215.79 204.42L1219.84 204.42L1219.84 254.31L1215.79 254.31z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M208.42 465.62L210.8 465.62L210.8 468L208.42 468z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M870.86 527.2L885.27 527.2L885.27 537.93L870.86 537.93z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M953.51 98.94L1008.25 98.94L1008.25 142.46L953.51 142.46z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1137.56 152.61L1182.94 152.61L1182.94 197.99L1137.56 197.99z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M583.64 69.77 a24.21 24.21 0 1 0 48.42 0 a24.21 24.21 0 1 0 -48.42 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M123.25 43.24L159 43.24L159 53.89L123.25 53.89z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1401.05 500.53 a28.71 28.71 0 1 0 57.42 0 a28.71 28.71 0 1 0 -57.42 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1122.4 122.8L1161.79 122.8L1161.79 162.19L1122.4 162.19z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M642.25 553.5L656.7 553.5L656.7 608.69L642.25 608.69z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M402.58 63.17L423.54 63.17L423.54 84.13L402.58 84.13z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M813.46 62.49 a10.44 10.44 0 1 0 20.88 0 a10.44 10.44 0 1 0 -20.88 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M67.41 377.22L74.29 377.22L74.29 425.71L67.41 425.71z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M30.97 368.87 a41.39 41.39 0 1 0 82.78 0 a41.39 41.39 0 1 0 -82.78 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M366.36 173.52L398.36 173.52L398.36 177.11L366.36 177.11z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M369.19 392.07 a45.08 45.08 0 1 0 90.16 0 a45.08 45.08 0 1 0 -90.16 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M496.62 468.67L507.55 468.67L507.55 479.6L496.62 479.6z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M712.93 138.18L764.72 138.18L764.72 142.66L712.93 142.66z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1005.83 370.35L1051.33 370.35L1051.33 406.72L1005.83 406.72z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2759'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='50%25' cy='50%25' r='772.53' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient2760'%3e%3cstop stop-color='rgba(222%2c 255%2c 222%2c 1)' offset='0.79'%3e%3c/stop%3e%3cstop stop-color='rgba(204%2c 255%2c 194%2c 1)' offset='0.92'%3e%3c/stop%3e%3cstop stop-color='rgba(222%2c 255%2c 222%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "ubuntu", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-transform: capitalize;
  color: #444;
  /* transition: all 0.4s linear; */
}

section {
  padding: 1.7rem 10%;
  margin-left: 14rem;
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  outline: none;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.6rem 1.4rem;
  color: #ddd;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background: #222;
  letter-spacing: 0.3rem;
  color: red;
}

/* .toggleactive {
  transform: rotate(180deg);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
} */

.header {
  background-color: #222;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 16rem;
  z-index: 111;
  height: 100vh;
  padding: 2.5rem;
  padding-top: 4.5rem;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.close-btn {
  cursor: pointer;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 1rem;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  z-index: 11111;
  right: 79.6%;
  position: fixed;
  background-color: rgb(230, 252, 230);
  color: var(--primary-color);
  border: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  &:hover {
    letter-spacing: 0.6rem;
    font-size: 2rem;
    color: var(--primary-color);
  }
}

.collapsebtn {
  padding-top: 4rem;
  width: 1rem;
  background-color: var(--primary-color);
}
.header-logo .ra {
  color: var(--primary-color);
  margin: 0 auto;
  margin-bottom: 2.5rem;
  margin-top: -1rem;
  background-color: rgb(230, 252, 230);
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  width: 4.5rem;
  font-size: 2.5rem;
}

.collapsebtn .ra {
  background-color: rgb(230, 252, 230);
  color: var(--primary-color);
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  max-width: 4.5rem;
  margin-left: -2.3rem;
}

.collapsebtn li {
  display: none;
}

.collapsebtn .logo {
  margin-bottom: 2rem;
}

.onclose-btn {
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
  font-size: 1.8rem;
  position: absolute;
  top: 50%;
  z-index: 11111;
  right: 90%;
  position: fixed;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  &:hover {
    font-size: 2rem;
    letter-spacing: 0.6rem;
  }
}

.collapsebtn h2 {
  margin-left: -2.3rem;
  color: var(--secondary-color);
}

.collapsebtn h2 .ra {
  display: block;
}

.nav-menu {
  margin-bottom: 1.5rem;
}

#menu-bar {
  display: none;
}

.nav-menu li:nth-child(odd) {
  margin-bottom: 1.2rem;
  z-index: 111;
  &:hover {
    transform: matrix(1, 0.3, 0, 1, 20, 0);
    transition-duration: 0.1s;
    margin-left: 1rem;
    margin: 1.5rem;
  }
}

.nav-menu li:nth-child(even) {
  z-index: 111;
  margin-bottom: 1.2rem;

  &:hover {
    transform: matrix(1, -0.3, 0, 1, 20, 0);
    transition-duration: 0.1s;
    margin-left: 1rem;
    margin: 1.5rem;
  }
}

.nav-menu li a {
  color: #fff;
}

.nav-menu li a:hover {
  letter-spacing: 3px;
  color: var(--secondary-color);
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  opacity: 0.9;
}

.header-icons {
  font-size: 1.5rem;
}

.header-icons .logo {
  font-size: 1.6rem;
  color: #fff;
  z-index: 111111;
  margin-right: 0.6rem;
  &:hover {
    color: var(--secondary-color);
  }
}

.header-icons .logo:hover {
  color: var(--secondary-color);
  font-size: 1.5rem;
  perspective-origin: left top;
  transform: rotate(680deg);
  transition-duration: 1s;
}

/* Homepage section */

.homepage {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  padding-top: 2rem;
}

.homepage .image-container {
  flex: 1 1 22rem;
}

.homepage .image-container img {
  width: 100%;
  box-shadow: 0 0.9px 1px rgba(0, 0, 0, 0.1);
}

.homepage .content {
  flex: 1 1 20rem;
  margin-left: -5rem;
}

.homepage .content h5 {
  color: #222;
}

h1 {
  font-size: 2.8rem;
  white-space: nowrap;
  /* --animation-duration: 25s; */
}

h1 span {
  display: inline-block;
  font-size: 3.2rem;
  white-space: nowrap;
  color: var(--primary-color);
  --animation-duration: 25s;
}

.homepage h2,
.homepage h3 {
  margin-bottom: 1.5rem;
  color: #444;
  animation-duration: 20s;
}

.homepage p {
  font-size: 1rem;
  margin-bottom: 1.7rem;
  letter-spacing: 0.1rem;
}

/* about me section */

.inner-about-me {
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  align-items: center;
}

.about-me .inner-about-me .row1 {
  flex: 1 1 22rem;
  height: 25rem;
  width: 40rem;
  margin-left: -4rem;
}

.row1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-me .row2 {
  flex: 1 1 22rem;
}

.about-me h1 {
  padding-top: 3rem;
}
.row2 h2 {
  font-size: 1.7rem;
  min-width: 22rem;
}

.row2 p {
  font-size: 1rem;
  margin-bottom: 0.7rem;
  /* min-width: 20rem; */
}
.row2 h2 + p {
  font-weight: bold;
}

.row2 p span {
  color: var(--primary-color);
}

.inner-row-container {
  display: flex;
  gap: 1rem;
}

.inner-about-skills {
  margin-bottom: 2rem;
}

.progress1 p,
.progress2 p,
.progress3 p,
.progress4 p,
.progress5 P,
.progress6 P {
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.progress1 .progressbar,
.progress2 .progressbar,
.progress3 .progressbar,
.progress4 .progressbar,
.progress5 .progressbar,
.progress6 .progressbar {
  background-color: #999;
  width: 100%;
  height: 0.8rem;
  border-radius: 5rem;
}

.progress1 .progressbar span,
.progress2 .progressbar span,
.progress3 .progressbar span,
.progress4 .progressbar span,
.progress5 .progressbar span,
.progress6 .progressbar span {
  background-color: var(--secondary-color);
  height: 0.8rem;
  display: block;
  border-radius: 8rem;
}

.progress1 .progressbar span {
  width: 90%;
}
.progress2 .progressbar span {
  width: 80%;
}
.progress3 .progressbar span {
  width: 75%;
}
.progress4 .progressbar span {
  width: 80%;
}

.progress4 .progressbar span {
  width: 70%;
}

.progress5 .progressbar span {
  width: 90%;
}
.progress6 .progressbar span {
  width: 80%;
}

.about-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
}

.about-me .box-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 15rem;
  gap: 1rem;
}

.about-me .box-container .box {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  width: 8rem;
  height: 8rem;
  flex: 1;
  &:hover {
    transform: skewY(-6deg);
    transition-duration: 1s;
    letter-spacing: 1px;
  }
}

.inner-about-skills {
  flex: 1 1 20rem;
}

.skillsbox {
  display: flex;
  flex-direction: row;
  gap: 16rem;
}

.logos__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0.3rem;
  min-width: 30rem;
  height: 10rem;
  border-radius: 1rem;
  background: rgba(0, 100, 0, 0.2);
}

/* my services section */

.service h1 {
  margin-bottom: 2rem;
}

.servicebox-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.3rem;
}

.servicebox-container .box {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  height: 12rem;
  width: 10rem;
  flex: 1 1 16.5rem;
  background: rgba(0, 100, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  &:hover {
    transform: skewX(-10deg);
    transition-duration: 1s;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1rem 2rem rgba(225, 11, 11, 0.2);
  }
}

.servicebox-container .box .icon-box {
  background-color: var(--primary-color);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: -3rem;
  &:hover {
    transform: rotate(90deg);
  }
}

.icon-box .i {
  font-size: 2rem;
  color: #ddd;
}

.servicebox-container .box p {
  font-size: 1rem;
  padding: 1rem;
}

/* my experiences section */

.inner-experience {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.experiencebox {
  border-left: 8px dotted var(--secondary-color);
  border-top: 4px dotted var(--secondary-color);
  border-radius: 4rem;
  background: rgba(0, 100, 0, 0.2);
  padding: 1rem;
  padding-top: 1.5rem;
  margin-top: 1rem;
  height: auto;
  flex: 1 1 15rem;
  min-width: 19rem;
}

.content-box {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  padding: 1rem;
  &:hover {
    transform: skewY(-4deg);
    transition-duration: 1s;
    letter-spacing: 1px;
  }
}

.content-box h5 {
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5rem;
  padding: 0.2rem;
  width: 7.1rem;
  text-align: center;
}
.content-box h2 {
  font-size: 1.4rem;
}

.content-box p {
  font-size: 0.9rem;
}

/* moving cursor */

.cursor-1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  background: green;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 10000;
}

.cursor-1.active {
  height: 7rem;
  width: 7rem;
  opacity: 0.3;
}

.cursor-2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid green;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100000;
  transition: 0.3s linear;
}

.cursor-2.active {
  display: none;
}

/* my portfolio section */

.inner-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 1rem;
}

.inner-portfolio .box {
  width: 18rem;
  height: 15rem;
  border: 1rem solid #fff;
  flex: 1 1 18rem;
  position: relative;
  background-color: #fff;
  border-radius: 0.4rem;
  position: relative;
}

.inner-portfolio .box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
  position: relative;
  opacity: 0.8;
}

.inner-portfolio .box:hover img {
  opacity: 0.6;
}

.inner-portfolio .box h6 {
  background: transparent;
  color: rgb(136, 197, 31);
  color: green;
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 26rem;
  font-weight: bolder;
  right: 20%;
  left: 2rem;
  z-index: 111;
  font-size: 1.2rem;
  text-align: center;
}

.inner-portfolio .box:hover h6 {
  margin-left: -3rem;
}

.inner-portfolio .box:hover img {
  width: 85%;
  height: 85%;
}

.inner-portfolio .box h4 {
  position: absolute;
  bottom: 0.1rem;
  color: #333;
  padding-top: 0.1rem;
}

.inner-portfolio + a {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  color: var(--secondary-color);
  &:hover {
    letter-spacing: 2px;
  }
}

.inner-portfolio + a:hover .logo {
  perspective-origin: left top;
  transform: rotate(720deg);
  transition-duration: 1s;
}

.inner-portfolio .box .icon-box {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  position: absolute;
  right: 0.1rem;
  top: 0.5rem;
  padding-left: 0.2rem;
}

.inner-portfolio .box {
  &:hover {
    box-shadow: 0 1rem 2rem rgba(225, 11, 11, 0.2);
  }
}

.inner-portfolio .box .icon-box .i {
  color: #222;
  background-color: #eee;
  padding: 0.4rem;
  margin: 0.1rem;
  margin-left: 10rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
}

.inner-portfolio .box .icon-box .i:hover {
  background-color: var(--secondary-color);
  color: #fff;
  transform: rotate(270deg);
  transition-duration: 1s;
}

.portfolio .link {
  text-decoration: underline;
}

/* contact me section */

.inner-contact {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.inner-contact .box {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  flex: 1 1 15rem;
  background-color: #fff;
  text-align: center;
  padding: 1rem;
}

.inner-contact .box a {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
}

.inner-contact .box h3 {
  font-size: 1.3rem;
}

.inner-contact .box p {
  font-size: 1rem;
}

.inner-contact form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}

.inner-contact input {
  height: 3rem;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 0.5rem;
}
.inner-contact textarea {
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
}

.inner-contact .btn {
  width: 10rem;
}

.inner-contact .map {
  width: 100%;
  border: 0.3rem solid #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

/* footer */

.up-arrow {
  font-size: 4rem;
  position: fixed;
  bottom: 5%;
  right: 3%;
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    transform: rotate(360deg);
    transition-duration: 1s;
    color: var(--secondary-color);
  }
  &:active {
    color: var(--secondary-color);
    font-size: 6rem;
  }
}

.footer {
  background-color: #eee;
  text-align: center;
  font-size: 1rem;
  padding: 1rem 9%;
}

.footer span {
  color: var(--primary-color);
}

@media (max-width: 991px) {
  section {
    padding: 1rem 5%;
    margin: 0.5rem;
  }

  .header {
    display: none;
  }

  .close-btn {
    visibility: hidden;
  }
  .onclose-btn {
    visibility: hidden;
  }

  .active {
    display: initial;
    opacity: 0.97;
    transition-duration: 10s;
    transition-timing-function: ease-in-out;
  }

  #menu-bar {
    display: block;
    color: #eee;
    background-color: var(--primary-color);
    position: fixed;
    right: 2rem;
    top: 2rem;
    font-size: 3.2rem;
    z-index: 111;
    padding: 0.3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    &:active {
      color: var(--secondary-color);
      font-size: 4rem;
    }
    &:hover {
      transform: rotate(180deg);
      transition-duration: 1s;
    }
  }

  #menu-bar:hover {
    color: var(--secondary-color);
    opacity: 0.8;
  }

  .homepage {
    padding-top: 1rem;
  }

  .homepage .content {
    margin-left: 0rem;
  }

  .skillsbox {
    gap: 5rem;
  }

  .skillsbox .logos__container {
    height: 10rem;
  }

  .about-me .inner-about-me .row1 {
    margin-left: 0;
  }
}

@media (max-width: 500px) {
  #menu-bar {
    z-index: 10000;
  }

  .homepage h1 {
    padding-top: 15px;
    font-size: 1.7rem;
  }

  .homepage h3 {
    margin-bottom: 0.5rem;
  }

  .header {
    width: 100%;
    padding-top: 6rem;
    opacity: 0.98;
  }

  .btn {
    padding: 0.4rem 1rem;
  }

  .skillsbox {
    gap: 0;
    flex-wrap: wrap;
  }

  .skillsbox .logos__container {
    height: 8rem;
  }

  .inner-portfolio {
    margin-bottom: 3rem;
  }

  .portfolio .link {
    height: 30px;
  }

  @media (max-width: 320px) {
    h1 {
      font-size: 2.2rem;
    }
    h1 span {
      font-size: 2.5rem;
    }

    .skillsbox .logos__container {
      height: 13rem;
    }

    .about-me .inner-about-me .row1 {
      width: 10rem;
      margin-left: -2rem;
      height: 20rem;
    }
  }

  .row2 {
    margin-left: -1rem;
  }

  .row2 h2 {
    font-size: 1.5rem;
  }
  .row2 p {
    font-size: 0.9rem;
  }
}
